html {
    background-color: #1e1510;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Header */ 
.header {
    height: 72px;
    background: #fbc91b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a1909;
    padding: 15px;
}
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.right-links li {
    font-size: 18px;
    text-decoration: none;
}
/* Preview */ 
.panel {
    background-color: #171312 ;
    color: #fbc91b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
ul {
    display: flex;
    color: #2a1909;
    /* get rid of list style 
    (the dot before the list items */
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 16px
}
.descri-cta{
    text-align: left;
    margin: 0;
}
.descri-image img{
    text-align: center;
    height: 350px;
    width:auto;
}
button {
    display: block;
    text-align: center;
    background-color: #f4d652;
    color: #131516;
    padding: 12px;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    border-color: currentColor;
}
/* List of albums */ 

a {
    color: #2a1909;
    text-decoration: none;
}
.albums {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:#e8e6e3;
}
h2 {
    text-align: center;
}
.album-info {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.album img {
    border: 5px solid currentColor;
    box-shadow: 2px 4px 16px #0000000f;
    border-radius: 8px;
    width: 200px;
    height:auto;
    justify-content: flex-end;
    margin: 10px;
}
.album p {
    font-weight: bold;
    text-align: center;
    /* break long texts into 2 lines */
    inline-size: 200px;
    overflow-wrap: break-word;
}
/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #191a1a;
    color: #e4e2de;
}
.quote p {
    font-size: 32px;
    font-style:italic;
    font-weight: lighter;
}
.quote b {
    text-align: right;
    padding-right: 300px;
    padding-bottom: 20px;
}
/* sign-up */
.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4d652;
    margin: 50px 200px;
    padding: 10px 80px;
    color: #131516;
}
.sign-texts {
    text-align: left;
}
.footer {
    height: 72px;
    background: #171312;
    color: #e4e2de;
    display: flex;
    justify-content: center;
    align-items: center;
}